form {
  padding-top: 2em;
}

.btn.btn-success {
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.input-row {
  margin-bottom: 1em;
}

.slider-input {
  padding-left: 0.75em;
}
